KERNEL=="bar*",  GROUP="plugdev", MODE=660
KERNEL=="foo*",  GROUP="plugdev", MODE=660
KERNEL=="discovery*",  GROUP="plugdev", MODE=660
# ST-Link/V2 (STM32Discovery)
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="3748", MODE="660", GROUP="plugdev"
